.device-on {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
  border-left: 4px solid #22c55e;
  transition: all 0.2s ease-in-out;
}

.device-off {
  box-shadow: none;
  border-left: 4px solid #9ca3af;
  transition: all 0.2s ease-in-out;
}

.layout-filterbar {
  position: sticky;
  top: 55px;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid #000;
  z-index: 9999;
}
